<<<<<<< HEAD
/*@charset "UTF-8";*/
/***CSS document***/

body {
    margin:0 auto;
	padding:0; 
    background-color: #F5ECB3;
	background-size: 100%;
	height:1400px;
}

#fixbox {
    width:200px;
	height:500px;
	position:fixed;
	left:0;
	border-radius: 0px 0px;
}

#board {
	position: relative;
	margin:0 auto;
	width:800px;;
	height: 100%;
	background-color: #F5ECB3;
}

#mainboard {
	margin:0 auto;
	top:0px;
	/*width:500px;
	height:500px;
	*/
	text-align:center;
	width:100%;
	height:600px;
	position:relative;
	z-index: 1;
}

#tileboard {
	position: absolute;
	z-index: 2;
}

#gameboard {
	display:inline-block;
	top:30px;
	width: 500px;
	height: 500px;
	padding: 15px;
	cursor: default;
	border: 3px solid orange;
	position: relative;
	background: #89DDEF;
	border-radius:10px;
}
/*
.row {
	width: 100%;
	height:125px;
	position: relative;
	margin:0 auto;
	border: solid 1px black;
}
*/
.row {
	margin-top:10px;
}
.row:last-child {
	margin-bottom:0px;
}
.row:after {
    content: "";
    display: block;
    clear: both; }

.cell {
	width: 112.5px;
	height: 112.5px;
	margin-top:0px;
	margin-left:10px;
	float: left;
	border-radius: 5px;
	background: rgba(241, 235, 230, 0.35);
}

	.cell:last-child {
	  margin-right: 10px; 
	}


.movecell {
	width:112px;
	height:112px;

}

.gif {
	border-radius: 5px;
	position: absolute;
	width: 112px;
	height: 112px;
}

#name {
	margin:0 auto;
	font-weight: bold;
	text-align: center;
	font-size: 100px;
	width: 100%;
	height: 150px;
}

#control {
	margin: 0 auto;
	top: 0px;
	widows: 100%;
	height:250px;
	position:relative;
}

#scoreContainer {
	margin:0 auto;
	right: 0;
	width: 310px;
	height: 160px;
	position: absolute;
	font-size:30px;
	display:flex;
}

.S_type {
	border-radius:5px;
	background-color: #DD7A12;
	margin:3px;
	width:150px;
	height:150px;
	text-align:center;
}



.butStyle {
	background-color: #DD7A12;
	border-radius: 10px;
	border: double 3px #cccccc;
	color: #eeeeee;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	width: 110px;
	height: 40px;
	text-align: center;
	font-size: 10px;
	

}

.OutputT {
	border: solid 1px black;
	width:100px;
	height: 100px;
	text-align: center;
	display: inline-block;

}


#aboutus {
	margin: 0 auto;
	width:100%;
	height: 400px;
	position:relative;
	text-align: center;
}





/*
#list {
	width: 100%;
	height: 150px;
	margin: 0 auto;
}

#list li{
	list-style: none;
}

#gamename {

}
||||||| merged common ancestors
/*@charset "UTF-8";*/
/***CSS document***/

body {
    margin:0 auto;
	padding:0; 
    background-color: #F5ECB3;
	background-size: 100%;
	height:1400px;
}

#fixbox {
    width:200px;
	height:500px;
	position:fixed;
	border: 5px solid red;
	left:0;
	border-radius: 0px 0px;
}

#board {
	position: relative;
	margin:0 auto;
	width:65%;
	height: 100%;
	background-color: #F5ECB3;
	border: 5px solid blue;
}

#mainboard {
	margin:0 auto;
	top:0px;
	/*width:500px;
	height:500px;
	*/
	width:80%;
	height:600px;
	position:relative;
	border: 5px solid green;
	z-index: 1;
}

#gameboard {
	width: 510px;
	height: 500px;
	border: 3px solid orange;
}

.row {
	width: 100%;
	height:125px;
	position: relative;
	margin:0 auto;
	border: solid 1px black;
}

.cell {
	width: 120px;
	height: 120px;
	margin-right: 5px;
	float: left;
	border-radius: 5px;
	border: solid 1px blue;
}

	.cell:last-child {
	  margin-right: 5px; 
	}

#name {
	margin:0 auto;
	font-weight: bold;
	text-align: center;
	font-size: 70px;
	width: 100%;
	height: 100px;
}

#control {
	margin: 0 auto;
	top: 0px;
	width:80%;
	height:300px;
	position:relative;
	border:5px solid pink;
}

#scoreContainer {
	margin:0 auto;
	right: 0;
	width: 30%;
	height: 70px;
	position: absolute;
	font-size:30px;
	border: solid 3px green;
}

#newG {
	border: solid 3px green;
	margin:0 auto;
	top:0;
	width:30%;
	height: 30px;
	position: absolute;

}

.OutputT {
	border: solid 1px black;

}


#aboutus {
	margin: 0 auto;
	width:100%;
	height: 400px;
	position:relative;
	border: 3px solid yellow;
}

/*
#list {
	width: 100%;
	height: 150px;
	margin: 0 auto;
}

#list li{
	list-style: none;
}

#gamename {

}
=======
/*@charset "UTF-8";*/
/***CSS document***/

body {
    margin:0 auto;
	padding:0; 
    background-color: #F5ECB3;
	background-size: 100%;
	height:1400px;
}

#fixbox {
    width:200px;
	height:500px;
	position:fixed;
	border: 5px solid red;
	left:0;
	border-radius: 0px 0px;
}

#board {
	position: relative;
	margin:0 auto;
	width:65%;
	height: 100%;
	background-color: #F5ECB3;
	border: 5px solid blue;
}

#mainboard {
	margin:0 auto;
	top:0px;
	/*width:500px;
	height:500px;
	*/
	width:80%;
	height:600px;
	position:relative;
	border: 5px solid green;
	z-index: 1;
}

#gameboard {
	width: 510px;
	height: 500px;
	border: 3px solid orange;
}

.row {
	width: 100%;
	height:125px;
	position: relative;
	margin:0 auto;
	border: solid 1px black;
}

.cell {
	width: 120px;
	height: 120px;
	margin-right: 5px;
	float: left;
	border-radius: 5px;
	border: solid 1px blue;
}

	.cell:last-child {
	  margin-right: 5px; 
	}

#name {
	margin:0 auto;
	font-weight: bold;
	text-align: center;
	font-size: 70px;
	width: 100%;
	height: 100px;
}

#control {
	margin: 0 auto;
	top: 0px;
	width:80%;
	height:300px;
	position:relative;
	border:5px solid pink;
}

#scoreContainer {
	margin:0 auto;
	right: 0;
	width: 30%;
	height: 70px;
	position: absolute;
	font-size:30px;
	border: solid 3px green;
}

#newG {
	border: solid 3px green;
	margin:0 auto;
	top:0;
	width:30%;
	height: 30px;
	position: absolute;

}

.OutputT {
	border: solid 1px black;

}


#aboutus {
	margin: 0 auto;
	width:100%;
	height: 400px;
	position:relative;
	border: 3px solid yellow;
}

/*
#list {
	width: 100%;
	height: 150px;
	margin: 0 auto;
}

#list li{
	list-style: none;
}

#gamename {

}
>>>>>>> 95cc8583d70c0e3ca8aa30845f4d9b8a8eb406fd
*/