/*@charset "UTF-8";*/
/***CSS document***/

body {
    margin:0 auto;
	padding:0; 
    background-color: #F5ECB3;
	background-size: 100%;
	height:1400px;
}

#fixbox {
    width:200px;
	height:500px;
	position:fixed;
	border: 5px solid red;
	left:0;
	border-radius: 0px 0px;
}

#board {
	position: relative;
	margin:0 auto;
	width: 610px;
	height: 100%;
	background-color: #F5ECB3;
	border: 5px solid blue;
}

#mainboard {
	margin:0 auto;
	top:0px;
	/*width:500px;
	height:500px;
	*/
	width:80%;
	height:600px;
	position:relative;
	border: 5px solid green;
	z-index: 1;
}

#tileboard {
	position: absolute;
	z-index: 2;
}

#gameboard {
	position: relative;
	width: 493px;
	height: 500px;
	/* border: 3px solid orange; */
}

.row {
	width: 100%;
	height:122px;
	position: relative;
	margin:0 auto;
	/* border: solid 1px black; */
}

.cell {
	width: 120px;
	height: 120px;
	/* margin-right: 5px; */
	margin: auto;
	float: left;
	border-radius: 5px;
	border: solid 1px blue;
}

	.cell:last-child {
	  margin-right: 5px; 
	}

.gif {
	position: absolute;
	width: 112px;
	height: 112px;
	opacity: 0.5;
}

#name {
	margin:0 auto;
	font-weight: bold;
	text-align: center;
	font-size: 70px;
	width: 100%;
	height: 100px;
}

#control {
	margin: 0 auto;
	top: 0px;
	width:80%;
	height:300px;
	position:relative;
	border:5px solid pink;
}

#scoreContainer {
	margin:0 auto;
	right: 0;
	width: 30%;
	height: 70px;
	position: absolute;
	font-size:30px;
	border: solid 3px green;
}

#newG {
	border: solid 3px green;
	margin:0 auto;
	top:0;
	width:30%;
	height: 30px;
	position: absolute;

}

.OutputT {
	border: solid 1px black;

}


#aboutus {
	margin: 0 auto;
	width:100%;
	height: 400px;
	position:relative;
	border: 3px solid yellow;
}

/*
#list {
	width: 100%;
	height: 150px;
	margin: 0 auto;
}

#list li{
	list-style: none;
}

#gamename {

}
*/