/*@charset "UTF-8";*/
/***CSS document***/

body {
    margin:0 auto;
	padding:0; 
    background-color: #F5ECB3;
	background-size: 100%;
	height:1400px;
}

#fixbox {
    width:200px;
	height:500px;
	position:fixed;
	border: 5px solid red;
	left:0;
	border-radius: 0px 0px;
}

#board {
	position: relative;
	margin:0 auto;
	width:65%;
	height: 100%;
	background-color: #F5ECB3;
	border: 5px solid blue;
}

#gameboard {
	margin:0 auto;
	top:0px;
	/*width:500px;
	height:500px;
	*/
	width:80%;
	height:600px;
	position:relative;
	border: 5px solid green;
}

#name {
	margin:0 auto;
	font-weight: bold;
	text-align: center;
	font-size: 70px;
	width: 100%;
	height: 100px;
}

#control {
	margin: 0 auto;
	top: 0px;
	width:80%;
	height:300px;
	position:relative;
	border:5px solid pink;
}

#scoreContainer {
	right: 0;
	width: 40%;
	height: 70px;
	position: relative;


}

#aboutus {
	margin: 0 auto;
	width:100%;
	height: 400px;
	position:relative;
	border: 3px solid yellow;
}
/*
#list {
	width: 100%;
	height: 150px;
	margin: 0 auto;
}

#list li{
	list-style: none;
}

#gamename {

}
*/